html {
    overflow-y: scroll;
}

body {
    font-size: 16px; //most other sizes are EM so this should scale.
    background-color: #FEFAF7;
    height: 100%;
    // font-family: 'Josefin Sans', sans-serif;
    // font-family: 'Lato', sans-serif;
    // font-family: 'Nunito', sans-serif;
    // font-family: 'Lora', serif;
    font-family: 'Open Sans', sans-serif;
}

a,
a:active,
a:hover {
    color: ghostwhite;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    // font-family: 'Nunito', sans-serif;
    // font-family: 'PT Serif', serif;
    // font-family: 'Josefin Sans', sans-serif;
    // font-family: 'Source Sans Pro', sans-serif;
}

.container-fluid {
    padding-bottom: 50px;
    //shmerlyn wrote this
    //its super bad code
    //she should feel bad
}

.btn {
    white-space: normal;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
}

.footer {
    position: fixed;
    bottom: 0;
    display: block;
    background-color: #FEFAF7;
    height: 28px;
    width: 100%;
    text-align: center;
    left: 15px;
    -webkit-box-shadow: 0 1px 8px rgba(1,-6px, 60px, 1.275);
    box-shadow: 0 1px 8px rgba(1,-6px, 60px, 1.275);
    padding: 5px 0;
    font-size: 12px;
}

#navButtonContainer {}

.recipeCard {
    margin-bottom: 1em;
}

.recipeCard img {
    width: 100%;
}

.recipeCard,
.recipeCard a {
    width: 100%;
    color: #373a3c;
    text-align: center;
    // margin: 0 4% 0 4% !important;
}

.card-buttons a {
    color: white;
}

.cardRecipeCol {
    display: flex;
}

.recipeCardBtn {
    margin: 0 1%;
}

.searchBarButtonCombo {
    width: 100%;
}
@media (max-height: 780px) and (min-height: 680px) {
    .authPage {
        text-align: center;
        height: 130vh !important;
    }
}
@media (max-height: 680px) {
    .authPage {
        height: 150vh !important;

        #g-recaptcha {
            top: 270px !important;
        }

        .authForm {
            top: 100px !important;
        }

        .titleBarContainer {
            text-align: center;
            // height: 100px !important;
            color: transparent !important;
            padding-bottom: 0 !important;
            margin: 0 !important;
            padding-top: 0 !important;
        }
    }
}

.titleBarContainer {
    color: ghostwhite;
    background-color: #535353;
    background-blend-mode: overlay;
    margin-bottom: 15px;
    padding-bottom: 6em;
    padding-top: 6em;
    text-align: center;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-position: 0 30%;
}

.mainTitle {
    // background-color: lightsteelblue;
    color: white;
    padding: 4em 0;
}

.titleBarNotOnHomepage {
    color: ghostwhite;
    // background-color: #535353;
    background-blend-mode: overlay;
    margin-bottom: 15px;
    padding-bottom: 1em;
    padding-top: 1em;
    text-align: center;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-position: 0 30%;
}

.mainTitleNotOnHomepage {
    // background-color: lightsteelblue;
    color: white;
    padding: 7em 0 0;
}

.navProfPic {
    overflow: hidden;
    border: 1px solid;
    width: 120px;
    height: 120px;
    margin: 0 auto !important;
    border: 5px solid grey;
    background-size: cover;
    display: block;
    border-radius: 60px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}
//image and seperator have no padding

.dropdown-menu .divider {
    padding: 2px !important;
    background-color: grey;
    margin-top: 10px;
}

.imageUploadBlock {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.imageBlockRecipeView {
  background-size: cover;
  background-position: center;
  height: 500px;
  display: block;
  overflow: hidden;
}

.navbar-toggler {
    top: 0 !important;
    right: 0 !important;
    margin: 15px !important;
    padding: 8px 15px !important;
    text-align: center;
    font-size: 25px;
}

.navbar-toggler,
.navbar-toggler .icon-bar {
    border-color: ghostwhite;
    color: ghostwhite;
}

.nav > li > a:focus,
.nav > li > a:hover {
    color: grey;
    // background-color: ghostwhite;
}

.dropdown-menu {
    overflow: hidden;
    margin-left: -61%;
    background-color: #FEFAF7;
}

.dropdown-menu > li {
    padding: 5px !important;
    text-align: center;
}

.dropdown-menu > li > a {
    color: #0275d8;
}

.navbar-brand {
    height: 80px;
    padding: 0;
}

.nav > li > a {
    padding-top: 30px;
    padding-bottom: 30px;
}

.navbar {
    margin-bottom: 0;
    background-color: rgba(60, 114, 80, 0.8);
    padding: 0;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    transition: all ease 0.3s;
}

.navbar,
.navbar a {
    color: ghostwhite;
}

.recipePageContainer {
    color: #373a3c;
}
// login stuff

#g-recaptcha {
    position: static;
    text-align: center;
    // top: 70%;
    // left: 50%;
    width: 100%;
    padding: 0;
    margin: 0 0 3% -16px;
    max-width: 300px;
    transform: scale(0.9);
}

.authForm {
    position: relative;
    overflow: hidden;
    text-align: center;
    left: 50%;
    margin: -150px 0 0 -150px;
    max-width: 300px;
    background-color: rgba(248, 248, 255, 0.6);
    border-radius: 25px;
    padding: 15px !important;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);

    h1 {
        z-index: 99;
        position: inherit;
        color: #fff;
        text-shadow: 1px 1px 10px rgba(0,0,0,0.3);
        letter-spacing: 1px;
        text-align: center;
    }

    h6 {
        margin-top: 10px;
    }

    ::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        color: ghostwhite;
    }

    ::-moz-placeholder {
        /* Firefox 19+ */
        color: ghostwhite;
    }

    :-ms-input-placeholder {
        /* IE 10+ */
        color: ghostwhite;
    }

    :-moz-placeholder {
        /* Firefox 18- */
        color: ghostwhite;
    }

    input {
        width: 100%;
        margin-bottom: 10px;
        background: rgba(0,0,0,0.3);
        border: none;
        outline: none;
        padding: 10px;
        font-size: 13px;
        color: #fff !important;
        // text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
        border: 1px solid rgba(0,0,0,0.5);
        border-radius: 4px;
        box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2);
        // -webkit-transition: box-shadow 0.5s ease;
        // -moz-transition: box-shadow 0.5s ease;
        // // -o-transition: box-shadow 0.5s ease;
        // -ms-transition: box-shadow 0.5s ease;
        // transition: box-shadow 0.5s ease;
    }

    .btn {
        display: inline-block;
        *display: inline;
        *zoom: 1;
        padding: 4px 10px;
        margin-bottom: 0;
        line-height: 18px;
        color: #fff;
        text-align: center;
        font-weight: 600;
        vertical-align: middle;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
        -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
        cursor: pointer;
        *margin-left: 0.3em;
    }

    .btn-large {
        padding: 9px 14px;
        font-size: 15px;
        line-height: normal;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
    }

    .btn-primary {
        text-shadow: 1px 1px 1px rgba(0,0,0,0.4);
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.5);
    }

    .btn-block {
        width: 100%;
        display: block;
    }
}

.homePageContainer {
    .card {
        -webkit-box-shadow: 0 1px 8px rgba(0,0,0,.175);
        box-shadow: 0 1px 8px rgba(0,0,0,.175);
    }

    .recipe_card {
        padding: 0;
        margin: 0;
    }

    .cardRecipeCol {
        list-style: none;
    }
}

.card-img-top {
    width: 100%;
}

.card-image-container {
    position: relative;
    height: 234px;
    overflow: hidden;
    background-position: center;
    background-size: cover;
}

.btn-primary {
    background-color: #DA5F51;
    border-color: #DA5F51;
    white-space: normal;
    color: ghostwhite!important;
}

.btn-primary:hover {
    background-color: #C14161;
    border-color: #C14161;
    white-space: normal;
    color: ghostwhite!important;
}

.btn-primary:focus {
    outline: 0;
}

.btn-primary:hover {
    background-color: #C14161;
    border-color: #C14161;
    color: ghostwhite!important;
}

.icon {
    color: ghostwhite;
}

.icon p {
    font-size: 25px;
    font-family: 'Open Sans', sans-serif;
}

.icon:hover {
    color: #D78651;
    text-decoration: none;
}

.ingredient-container-fork i {
    color: #DA5F51;
}

.ingredient-container-fork i:hover {
    color: #3C7250;
}

.view-recipe-container {
    background-color: rgba(255,255,255,.175);
    padding: 2em 1em;
    -webkit-box-shadow: 0 1px 8px rgba(0,0,0,.175);
    box-shadow: 0 1px 8px rgba(0,0,0,.175);
    margin-bottom: 2em;
}
//THESE TWO NEED BREAKPOINT STYLING!!!

.recipe-title {
    // height: 0%;
}

.recipe-description {
    // height: 50%;
}

.nav-name {
    display: inline;
    padding: 5px;
    vertical-align: middle;
}

.fork i,
.fork p {
    color: #DA5F51;
}

.fork:hover i,
.fork:hover p {
    color: #3C7250;
}

.buffer {
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom: 1px solid grey;
    border-top: 1px solid grey;
}

.another-buffer {
    margin-bottom: 20px;
}
@media (max-width: 991px) {
    .navbar {
        background-color: #3c7250 !important;
        height: 80px;
    }

    .navbar-nav {
        .nav-item {
            font-size: 25px;
            margin-bottom: 5px;
            padding-left: 35px;
            background-color: rgba(0, 0, 0, 0.1) !important;

            .dropdown-menu {
                margin: 0 35px 10px 0 !important;
                width: 85%;
                transition: 0.4s;
            }
        }
    }

    .show > .navbar-nav {
        right: 0 !important;
        transition: 0.4s;
    }

    .collapsing > .navbar-nav {
        right: -250px;
        transition: 0.4s;
    }

    .navbar-nav {
        right: 0;
        height: 100vh;
        background-color: rgba(60, 114, 80, 1);
        top: 80px;
        width: 250px;
        position: fixed;
        overflow: hidden;
        transition: 0.4s;
    }
}

.tree-link, .tree-link:active, .tree-link:hover {
  color: rgba(60, 114, 80, 1);
}
