body {
    font-size: 16px; //most other sizes are EM so this should scale.
    background-color: #FEFAF7;
}

a, a:hover, a:active {
  // color: ghostwhite;
}

#navButtonContainer {

}

.recipeCard {
  margin-bottom: 1em;
}
.recipeCard img {
    width: 100%;
}

.recipeCard, .recipeCard a {
  width: 100%;
  color: #373a3c;
  text-align: center;
  // margin: 0 4% 0 4% !important;
}

.card-buttons a {
  color: white;
}

.cardRecipeCol {
  display: flex;
}

.recipeCardBtn {
    margin: 0 1%;
}

.searchBarButtonCombo {
    width: 100%;
}

.titleBarContainer {
  color: ghostwhite;
  background-color: ghostwhite;
    margin-bottom: 15px;
    padding-bottom: 6em;
    padding-top: 6em;
    text-align: center;
    background-image: url('https://static.pexels.com/photos/5938/food-salad-healthy-lunch.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.mainTitle {
  // background-color: lightsteelblue;
  color: white;
  padding: 4em 0;
}

.navProfPic {
    overflow: hidden;
    border: 1px solid;
    width: 120px;
    height: 120px;
    margin: 0 auto !important;
    border: 5px solid grey;
    background-size: cover;
    display: block;
    border-radius: 60px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

//image and seperator have no padding
.dropdown-menu .divider {
    padding: 2px !important;
    background-color: grey;
    margin-top: 10px;
}

.navbar-toggler .icon-bar, .navbar-toggler {
  border-color: ghostwhite;
  color: ghostwhite;
}

.nav > li > a:focus, .nav > li > a:hover {
  color: grey;
  // background-color: ghostwhite;
}

.dropdown-menu {
    overflow: hidden;
    left: 50% !important;
    margin-left: -61%;
}

.dropdown-menu > li {
    padding: 5px !important;
    text-align: center;
}

.dropdown-menu > li > a {
    color: #0275d8;
}

.navbar-brand {
    height: 80px;
    padding: 0;
}

.nav > li > a {
    padding-top: 30px;
    padding-bottom: 30px;
}

.navbar {
  margin-bottom: 0;
  background-color: rgba(60, 114, 80, 0.8)!important;
  padding: 0;
}

.navbar, .navbar a {
  color: ghostwhite;
}

.navbar-toggle {
    padding: 10px;
    margin: 25px 15px 25px 0;
}

.recipePageContainer {
  color: #373a3c;
}

// login stuff
.authPageContainer {
  background: transparent;
}

.authPageContent {
  margin: 5% 0 25% 0;
  z-index: 99;
  background-color: ghostwhite !important;
  border-radius: 25px !important;
  margin-left: auto !important;
  margin-right: auto !important;
  display: block !important;
  width: 50% !important;
}


.homePageContainer {
  .recipe_card {
    padding: 0;
    margin: 0;
  }

  .cardRecipeCol {
    list-style: none;
    .card-img-top {
      width: 100%;
    }
  }
}

// .app-header-child {
//   margin-top: 15px;
// }

.btn-primary {
  background-color: #DA5F51;
  border-color: #DA5F51;
}

.btn-primary:hover{
  background-color: #C14161;
  border-color: #C14161;
}
