body {
    color: ghostwhite;
    background-color: ghostwhite;
    font-size: 16px; //most other sizes are EM so this should scale.
}

a, a:hover, a:active {
  color: ghostwhite;
}

#navButtonContainer {
    overflow: hidden;
}

.recipeCard img {
    width: 100%;
}

.recipeCard, .recipeCard a {
  width: 100%;
  color: #373a3c;
  text-align: center;
  // margin: 0 4% 0 4% !important;
}

.card-buttons a {
  color: white;
}

.cardRecipeCol {
  display: flex;
}

.recipeCardBtn {
    margin: 0 1%;
}

.searchBarButtonCombo {
    width: 100%;
}

#searchfield {
    margin-top: 20px;
    height: 100%;
}

.titleBarContainer {
    padding-bottom: 55px;
    padding-top: 55px;
    text-align: center;
    background-image: url('/assets/loginBackground.png');
}

.mainTitle, .subTitle {
  // background-color: lightsteelblue;
  // color: white;/
}

.navProfPic {
    overflow: hidden;
    border: 1px solid;
    width: 120px;
    height: 120px;
    margin: 0 auto !important;
    border: 5px solid grey;
    background-size: cover;
    display: block;
    border-radius: 60px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

//image and seperator have no padding
.dropdown-menu .divider {
    padding: 2px !important;
    background-color: grey;
    margin-top: 10px;
}

.navbar-toggle .icon-bar, .navbar-toggle {
  border-color: ghostwhite;
  color: ghostwhite;
}

.nav > li > a:focus, .nav > li > a:hover {
  color: grey;
  background-color: ghostwhite;
}

.dropdown-menu {
    overflow: hidden;
    left: 50% !important;
    margin-left: -61%;
}

.dropdown-menu > li {
    padding: 5px !important;
    text-align: center;
}

.dropdown-menu > li > a {
    color: #0275d8;
}

.navbar-brand {
    height: 80px;
    padding: 0;
}

.nav > li > a {
    padding-top: 30px;
    padding-bottom: 30px;
}

.navbar {
    padding: 0 !important;
    margin-bottom: 0 !important;
}

.navbar-toggle {
    padding: 10px;
    margin: 25px 15px 25px 0;
}



// login stuff
.authPageContainer {
  background: transparent;
}

.authPageContent {
  margin: 5% 0 25% 0;
  z-index: 99;
  background-color: ghostwhite !important;
  border-radius: 25px !important;
  margin-left: auto !important;
  margin-right: auto !important;
  display: block !important;
  width: 50% !important;
}
