.recipe_card {
  padding: 0;

  li {
    list-style: none;
  }

  .recipe_card-cont {
    display: flex;
    margin-bottom: 15px;
  }

  .recipe_card-box {
    width: 100%;
    
    .recipe_card-title {
      text-align: center;
    }

    .recipe_card-desc {

    }
  }
}